@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Poppins',sans-serif;
}
body {

    background-color:#333;
}
.main{
 margin-top: 50px; 
}

#location{
    width:400px;
    margin-left: 50px;
    }
   
     input{
        width:600px;
        height:50px;
    }
    .whatcontainer{
     
        width: 550px;
        height: 200px;
        padding: 50px;
       
        margin-top: -53px;
        text-align: center;
        margin-left: 330px;
}
    
 #findjob{
     margin-top: 20px;
 }
    
    #jobcontainer{
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        padding:10px;
        color:white;
        border-radius: 30px;
       
        background-color: #333;
    }
   
 
   #postjob{
       margin-left: 50px;
       margin-top: 20px;
   }
   .divforitem{
       width:600px;
       height:600px;
   }

   
   #postjobdatas{
       width:500px;
       height:500px;
       background-color: #0275d8;
       position:absolute;
        top: calc(50vh - 250px);
       left: calc(50vw - 250px);
       padding:20px;
       text-align: center;
       border-radius: 20px;
       display:none;
       z-index: 2;
       animation:animate1 1s linear forwards ;
       border:solid 2px #ff022c;
       box-shadow: #ff022c;
   }
   @keyframes animate1 {
    0%{width:0px;
        border-radius: 50%;}
    100%{width: 500px;
        border-radius: 20px;}
}
   .comlo{
       display: flex; 
       margin-bottom: 15px;
      
       margin-top: 15px;
   }
   .salary{
       display: flex;
       margin-bottom: 15px;
   }
   .type-and-workfrom{
    margin-bottom: 15px;
   }
   .description{
    margin-bottom: 15px;
   }
   #title{
    margin-bottom: 15px;  
   }
   #company{
    margin-right: 10px;
   }
   #fromsal{
    margin-right: 10px;
   }
   .whole{
       display: flex;
      background-color:#333;
   }
   h2{
       margin-left: 200px;
       margin-top: 50px;
       position: relative;
       
       font-size: 6em;
       font-weight: 900;
       color:#fff;
       z-index: 1;
       overflow: hidden;
   }
   h2 span{
       color:#ff022c;
   }
   h2:before{
       content:'';
       position: absolute;
       left:110%;
       width:120%;
       height:120%;
       background: linear-gradient(90deg,transparent 0%,#333 5%,#333 100%);
       animation:animate 6.5s linear forwards infinite;
   }
   @keyframes animate {
       0%{left:110%;}
       100%{left:-20%;}
   }
  .form-select{
      margin-bottom: 15px;
  }
  .postlog{
      margin-top: 50px;
      margin-left: 50px;
     
      

  }
  img{
      width:40px;
      height:40px;
      border-radius: 50%;
     margin-left: 1000px;
  }
  #login-window {
    width: 400px;
    height: 280px;
    background-color: #0275d8;
    display: none;
    position: absolute;
    top: calc(50vh - 140px);
    left: calc(50vw - 200px);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
    padding: 30px;
    font-weight: 700;
    z-index: 2;
    animation:animate1 1s linear forwards ;
       border:solid 2px #ff022c;
       box-shadow: #ff022c;
}
h1{
    color:#fff;
   
}