
.main{
    padding: 50px;
    background-color: grey; 
    color:white;
    height: 100vh;
   
}
.links{
    display:flex;
    background-color: grey;
    width:100%;
    height:50px;
    justify-content: space-between;
    align-items: center;
  
    font-size: larger;
    
    }
    .links a{
        text-decoration:none;
        color: white;
    }