.main-container{
background-color: grey;
padding:50px;
text-align: center;
height: 100vh;
}

.mb-3 row
{
    display:flex;
}

button{
    margin-top: 70px;
    background-color:blueviolet;
    color:white;
   
}
.main{
    margin-top: 50px;
}
.up{
    margin-bottom: 20px;
}
.links{
    display:flex;
    background-color: grey;
    width:100%;
    height:50px;
    justify-content: space-between;
    align-items: center;
  
    font-size: larger;
    
    }
    .links a{
        text-decoration:none;
        color: white;
    }